*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/main/res/raw/ne_obliviscaris_eyrie.mp3
app/src/main/res/raw/ramzoid_canada.mp3
app/src/main/res/raw/spiritbox_blessed_be.mp3
app/src/test/java/com/example/musicbox/ExampleUnitTest.java
app/src/androidTest/java/com/example/musicbox/ExampleInstrumentedTest.java
